nav
    l
        li
            a(href='/') Home
        li
            a(href='/courses') Courses
        li
            a(href='/auths/login') Login
        li
            a(href='/logout') Logout
        li
            a(href='/auths/register') Register

h1 hello from lesson